<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Navbar Fragment -->
<nav th:fragment="navbar" id="navbar" class="navbar hide">
    <button class="navbar__close-btn js-toggle" toggle-target="#navbar">
        <img th:src="@{/assets/icon/arrow-left.svg}" alt="" class="icon" />
    </button>

    <!-- Search Bar in Mobile -->
    <div class="navbar__search d-lg-none">
        <form th:action="@{/products}" method="get" class="navbar__search-form">
            <input type="text" name="search" placeholder="Tìm kiếm sản phẩm..." class="navbar__search-input" />
            <button type="submit" class="navbar__search-btn">
                <img th:src="@{/assets/icon/search.svg}" alt="Search" class="icon" />
            </button>
        </form>
    </div>

    <ul class="navbar__list js-dropdown-list">
        <!-- All Products -->
        <li class="navbar__item">
            <a th:href="@{/products}" class="navbar__link">
                <img th:src="@{/assets/icon/bag.svg}" alt="" class="icon navbar__link-icon" />
                Xem toàn bộ sản phẩm
            </a>
        </li>

        <!-- Caffeine Calculator -->
        <li class="navbar__item">
            <a th:href="@{/cc-doctor}" class="navbar__link">
                <img th:src="@{/assets/icon/gift.svg}" alt="" class="icon navbar__link-icon" />
                Tính toán Caffeine
            </a>
        </li>

        <!-- Hidden menu items - under development -->
        <!-- 
        <li class="navbar__item d-none">
            <a href="#!" class="navbar__link">
                Departments
                <img th:src="@{/assets/icon/arrow-down.svg}" alt="" class="icon navbar__arrow" />
            </a>
            <div th:replace="~{shared/fragments/header/dropdown-departments :: dropdownDepartments}"></div>
        </li>

        <li class="navbar__item d-none">
            <a href="#!" class="navbar__link">
                Grocery
                <img th:src="@{/assets/icon/arrow-down.svg}" alt="" class="icon navbar__arrow" />
            </a>
            <div th:replace="~{shared/fragments/header/dropdown-grocery :: dropdownGrocery}"></div>
        </li>

        <li class="navbar__item d-none">
            <a href="#!" class="navbar__link">
                Beauty
                <img th:src="@{/assets/icon/arrow-down.svg}" alt="" class="icon navbar__arrow" />
            </a>
            <div th:replace="~{shared/fragments/header/dropdown-beauty :: dropdownBeauty}"></div>
        </li>
        -->
    </ul>
</nav>

</html>
